body{
  height: 1000px;
  background-color: burlywood;
}

header{
border-radius: 30px;
color: rgb(242, 64, 135);
text-align: center;
width: 1fr;
margin-left: auto;
margin-right: auto;
}
.grid-main{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   align-items:center;
   background-image:url("https://eskipaper.com/images/music-wallpaper-16.jpg");
   height:fit-content;
   padding: auto;
   margin: auto 20px auto auto;

}
img {
    width:70%; height: 70%;
    object-fit:contain; 
    background-size: cover;
    border-style: 3px solid rgb(233, 132, 132);
    padding:6px;
    margin: 10px;
    max-height:min-content;
    stroke: greenyellow;
    border-radius: 30px;
    box-shadow:  2px 2px rgb(223, 183, 183);

}
